<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major name-title">
                  <h1>Jorge Acevedo</h1>
                  <p>Data Analyst</p>
            </header>
            <div class="content">
                <!-- description// <p style="text-transform: uppercase;">{{ site.description }}</p> -->
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Check my portfolio & blog!</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>